<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Navigation routes</h2>
    </div>

    <div class="row">
      <div class="col-lg-12 pb-10">
        <div class="card-box pl-20 pt-20 pb-20">
          <h2>Parameterized navigation</h2>
          <br />
          <a routerLink="12"> Click to get Parameter</a> : {{ navID }}
        </div>
      </div>
      <div class="col-lg-12 pb-10">
        <div class="card-box pl-20 pt-20 pb-20">
          <h2>Query based navigation</h2>
          <br />
          <a
            routerLink="/nav-route"
            [queryParams]="{ name: 'raj', age: 12 }"
            (click)="query()"
          >
            Query Params</a
          ><br />
          Name : {{ name }}, Age: {{ age }}
        </div>
      </div>
      <div class="col-lg-12 pb-10">
        <div class="card-box pl-20 pt-20 pb-20">
          <h2>Programmatically navigation</h2>
          <br />
          <button (click)="goPage('nav-route', '11')" class="btn btn-info">
            Programmatically navigate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
