<div class="card w-50 p-4 m-4 shadow mx-auto">
  <h3>Template Driven Form</h3>

  <!-- <form (ngSubmit)="onSubmit(frm)" #frm="ngForm"> -->
  <form #frm="ngForm">
    <div class="form-group mb-4">
      <label>Name:</label>
      <div class="float-end text-danger">
        <span class="float-end">{{ nameErr }}</span>
      </div>
      <input
        type="text"
        class="form-control"
        name="nm"
        ngModel
        required
        #nm="ngModel"
        minlength="3"
      />
    </div>
    <div class="form-group mb-4">
      <label>Email:</label>
      <div class="float-end text-danger">
        <span class="float-end">{{ emailErr }}</span>
      </div>
      <input
        type="email"
        class="form-control"
        name="em"
        ngModel
        required
        #em="ngModel"
      />
    </div>
    <div class="form-group mb-4">
      <label>Age:</label>
      <div class="float-end text-danger">
        <span class="float-end">{{ ageErr }}</span>
      </div>
      <input
        type="number"
        class="form-control"
        name="ag"
        ngModel
        required
        max="100"
        #ag="ngModel"
      />
    </div>

    <div ngModelGroup="academic">
      <div class="form-group mb-4">
        <label>Class:</label>
        <div class="float-end text-danger">
          <span class="float-end">{{ classErr }}</span>
        </div>
        <input type="text" class="form-control" name="class" ngModel />
      </div>
      <div class="form-group mb-4">
        <label>Section:</label>
        <div class="float-end text-danger">
          <span class="float-end">{{ secErr }}</span>
        </div>
        <input type="text" class="form-control" name="sec" ngModel />
      </div>
    </div>
    <button class="btn btn-primary" (click)="save()">Submit</button>
    <button class="btn btn-info" (click)="onPopulate()">Set values</button>
    <button class="btn btn-danger" (click)="onReset()">Reset</button>
  </form>
</div>
