<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Template driven forms</h3>

    <form #frm="ngForm">
      <!-- <form (ngSubmit)="save(frm)" #frm="ngForm"> -->
      Name:<input
        type="text"
        name="nm"
        ngModel
        #nm="ngModel"
        required
        minlength="5"
      /><span>{{ nameErr }}</span>
      <br />
      Email:<input
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        name="em"
        ngModel
        #em="ngModel"
      /><span>{{ emailErr }}</span>
      <br />
      <div ngModelGroup="academic">
        Class:<input type="text" name="class" ngModel required /> Sec:<input
          type="text"
          name="sec"
          ngModel
          required
        />
      </div>
      <button (click)="save()">Save</button>
      <!-- <button>Save</button> -->
      <button (click)="onPopulate()">Fetch values</button>
      <button (click)="onReset()">Clear form</button>
    </form>
  </body>
</html>
